.my_favorite_band{
  font-size: 30 px;
  font-style: italic;
}
.sidebar{
  width: 40%;
  float: left;
  background-color: red;
  margin-right: 4%;
  padding: 1%;
  font-style: normal;
  border-radius: 10%;
}
.pic{
  float:right;
  padding-left: 1%;
  width: 50%;
  padding-bottom: 1%;
}

.info{
  font-size: 20px;font-style: normal;
  border-style: dashed;
  padding: 1%;
  width: 97%;
  clear: both;
}

.top{
  text-align: center;
  color: red;
}
